  <aside class="side_menu">
    <p class="banner">
      <div class="panda_comment"><%= image_tag @blog_current.image.url %></div>
      <div class="panda_comment">名前：<%= @blog_current.name %></div>
      <div class="panda_comment">メール：<%= @blog_current.email %></div>
      <div class="panda_comment"><%= link_to '投稿一覧', blogs_path %></div>
      <div class="panda_comment"><%= link_to '新規作成', new_blog_path %></div>
      <p><%= notice %></p>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </p>
  </aside>

  <div>
    <table>
      <%= image_tag('woods.jpg') %>
      <% @blogs.each do |blog| %>
          <ul class="article_main">
            <div class = "content_userimg"><%= image_tag blog.user.image.url %></div>
            <div>
              <li><%= link_to blog.user.name, index_user_blog_path(blog.user_id) %></li>
              <li><%= blog.title %></li>
              <li><%= image_tag blog.image.url %></li>
              <li><%= blog.content %></li>
              <li><%= link_to '詳細を確認する', blog_path(blog.id) %></li>
              <li><%= link_to blog.user.name + 'さんの投稿一覧', index_user_blog_path(blog.user_id) %></li>
            </div>
          </ul>
      <% end %>
    </table>
  <%= link_to '新しくブログを投稿する', new_blog_path %>
</div>
