<aside class="side_menu">
  <p class="banner">
    <div class = "panda_comment"><%= image_tag @index_user.user.image.url %></div>
    <div class = "panda_comment"><%= @index_user.user.name %>さんの投稿一覧</div>
    <div class = "panda_comment"><%= @index_user.user.email %></div>
    <div class = "panda_comment">記事の数:<%= @count %></div>
    <% if logged_in? %>
      <div class="panda_comment"><%= link_to '全ユーザーの投稿一覧', blogs_path %></div>
      <div class="panda_comment"><%= link_to '新規作成', new_blog_path %></div>
    <% else %>
      <div class="panda_comment"><%= link_to "サインアップ", new_user_path %></div>
      <div class="panda_comment"><%= link_to "ログイン", new_session_path %></div>
    <% end %>
  </p>
</aside>
<div>
  <p><%= notice %></p>
  <table>
    <%= image_tag('woods.jpg') %>
      <% @blogs.each do |blog| %>
      <ul class="article_main">
        <div class = "content_userimg">
          <li><%= image_tag blog.user.image.url %></li>
          <li>投稿者：<%= link_to blog.user.name, index_user_blog_path(blog.user_id) %></li>
        </div>
        <div class = "content_main">
          <li><%= blog.title %></li>
          <li><%= blog.user.name %></li>
          <li><%= image_tag blog.image.url %></li>
          <li><%= blog.content %></li>
          <li><%= link_to '詳細を確認する', blog_path(blog.id) %></li>
        </div>
      </ul>
      <% end %>
  </table>
</div>
