<aside class="side_menu">
  <p class="banner">
    <% if logged_in? %>
      <div class="panda_comment"><%= image_tag @blog_current.image.url %></div>
      <div class="panda_comment">こんにちは、<%= @blog_current.name %>さん。</div>
      <div class="panda_comment side_category"><%= link_to '投稿一覧', blogs_path %></div>
      <div class="panda_comment side_category"><%= link_to '自分の投稿一覧', index_user_blog_path(@blog_current.id) %></div>
      <div class="panda_comment side_category"><%= link_to '新規作成', new_blog_path %></div>
    <% else %>
      <div class="panda_comment"><%= link_to image_tag('facebook_logo.png'), blogs_path %></div>
      <div class="panda_comment">facebookクローン</div>
      <div class="panda_comment side_category"><%= link_to '投稿一覧', blogs_path %></div>
      <div class="panda_comment side_category"><%= link_to "サインアップ", new_user_path %></div>
      <div class="panda_comment side_category"><%= link_to "ログイン", new_session_path %></div>
    <% end %>
  </p>
</aside>

<div>
  <table>
    <%= image_tag('woods.jpg') %>
    <ul class="article_main">
      <div class = "content_userimg">
        <li><%= image_tag @blog.user.image.url %></li>
        <li>投稿者：<%= link_to @blog.user.name, index_user_blog_path(@blog.user_id) %></li>
      </div>
      <div class = "content_main">
        <li><%= @blog.title %></li>
        <li>投稿者: <%= @blog.user.name %></li>
        <li><%= notice %></li>
        <li><%= image_tag @blog.image.url %></li>
        <li><%= @blog.content %></li>
        <li><%= link_to "ブログを編集する", edit_blog_path(@blog.id), data: { confirm: '本当に編集していいですか？' } %></li>
        <li><%= link_to 'ブログを削除する', blog_path(@blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></li>
        <li><%= link_to '戻る', blogs_path %></li>
      </div>
    </ul>
  </table>
</div>
