<aside class="side_menu">
  <p class="banner">
      <div class="panda_comment"><%= link_to image_tag('facebook_logo.png'), blogs_path %></div>
      <div class="panda_comment">facebookクローン</div>
      <div class="panda_comment side_category"><%= link_to '投稿一覧', blogs_path %></div>
      <div class="panda_comment side_category"><%= link_to "サインアップ", new_user_path %></div>
      <div class="panda_comment side_category"><%= link_to "ログイン", new_session_path %></div>
    <p><%= notice %></p>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
  </p>
</aside>

<div class = "login_main">
<h1>Sign up</h1>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  <ul>
    <%= form_with(model: @user, local: true) do |f| %>
    <li class = "login">
      <div><%= f.label :name %></div>
      <div><%= f.text_field :name %></sdiv>
    </li>
    <li class = "login">
      <div><%= f.label :email %></div>
      <div><%= f.email_field :email %></div>
    </li>
    <li class = "login">
      <div><%= f.label :password %></div>
      <div><%= f.password_field :password %></div>
    </li>
    <li class = "login">
      <div><%= f.label :password_confirmation %></div>
      <div><%= f.password_field :password_confirmation %></div>
    </li>
    <li class = "login">
      <div><%= f.label :image %></div>
      <div><%= f.file_field :image %></div>
    </li>
    <li class = "login">
      <div><%= f.submit "Create my account" %></div>
    </li>
    <% end %>
  </ul>
</div>
